* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  /* color-scheme: light; */
}

body {
  color: var(--gray-12);
}

p {
  color: var(--gray-11);
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

:root,
:root.light {
  --border-radius: 16px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --tooltip-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  --tooltip-arrow-fill: #ffffff;

  --blue-1: #fbfdff; /*background */
  --blue-2: #f5f9ff; /*bacgrkound */
  --blue-3: #e9f3ff; /*interactive */
  --blue-4: #dbebff; /*interactive */
  --blue-5: #cae1ff; /*interactive */
  --blue-6: #b1d4ff; /* borders and separators */
  --blue-7: #97c2ff; /* borders and separators */
  --blue-8: #6fa9ff; /* borders and separators */
  --blue-9: #0071ff; /* solid colors */
  --blue-10: #0062f0; /* solid colors */
  --blue-11: #0065f2; /* accessible text */
  --blue-12: #052f6d; /* accessible text */

  --blue-contrast: #fff;
  --blue-surface: #f3f8ffcc;
  --blue-indicator: #0071ff;
  --blue-track: #0071ff;

  --gray-1: #fdfdfc; /*background */
  --gray-2: #f9f9f8; /*bacgrkound */
  --gray-3: #f0f0ef; /*interactive */
  --gray-4: #e9e9e6; /*interactive */
  --gray-5: #e1e1de; /*interactive */
  --gray-6: #d9d9d6; /* borders and separators */
  --gray-7: #cfcfca; /* borders and separators */
  --gray-8: #bbbbb6; /* borders and separators */
  --gray-9: #8d8d86; /* solid colors */
  --gray-10: #82827c; /* solid colors */
  --gray-11: #63635e; /* accessible text */
  --gray-12: #20201c; /* accessible text */

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8d8d86;
  --gray-track: #8d8d86;

  --grid-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 45%,
    rgba(254, 254, 254, 1) 100%
  );
}

[data-theme="dark"] {
  --tooltip-shadow: hsla(209, 100%, 90%, 0.35) 0px 10px 38px -10px,
    hsl(209, 100%, 90% / 20%) 0px 10px 20px -15px;
  --tooltip-arrow-fill: none;

  --blue-1: #09111e;
  --blue-2: #0e1828;
  --blue-3: #0b254e;
  --blue-4: #062f6a;
  --blue-5: #0c3a7e;
  --blue-6: #164690;
  --blue-7: #1f54a6;
  --blue-8: #2463c4;
  --blue-9: #0071ff;
  --blue-10: #0062ef;
  --blue-11: #7bb5ff;
  --blue-12: #cde3ff;

  --blue-contrast: #fff;
  --blue-surface: #0c1f3f80;
  --blue-indicator: #0071ff;
  --blue-track: #0071ff;

  --gray-1: #111110;
  --gray-2: #191917;
  --gray-3: #232320;
  --gray-4: #2a2a27;
  --gray-5: #31312e;
  --gray-6: #3a3a37;
  --gray-7: #494944;
  --gray-8: #60605b;
  --gray-9: #6e6e68;
  --gray-10: #7c7c75;
  --gray-11: #b5b5ab;
  --gray-12: #efefe3;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.5);
  --gray-indicator: #6e6e68;
  --gray-track: #6e6e68;

  --grid-gradient: linear-gradient(
    180deg,
    rgba(17, 17, 16, 0) 45%,
    rgba(17, 17, 16, 1) 100%
  );
}
