.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--background-color);
  padding-bottom: 80px;
}

.pointer_events_none {
  pointer-events: none;
}

.container {
  max-width: 640px;
  min-width: 640px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.header_section {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--primary-text);
  pointer-events: none;
}

.header_section h1 {
  font-size: 72px;
  color: var(--primary-text);
}

.header_section h4 {
  font-size: 32px;
  color: var(--primary-accent);
}

.grid {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: auto;
}

.gradient {
  position: absolute;
  background: var(--grid-gradient);
  width: 100%;
  height: 120px;
  bottom: 0;
  pointer-events: none;
}

.square {
  height: 60px;
  width: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-right: 1px solid var(--grid-border);
  border-top: 1px solid var(--grid-border);
}

.cell {
  opacity: 0;
  transition: opacity 0.7s linear;
}

.cell:hover {
  opacity: 1;
  transition: opacity 0.05s linear;
}

.crosshair {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.crosshair svg {
  transform: rotate(45deg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

/* SECTION */

.section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
  width: 100%;
}

.section h2 {
  font-size: 20px;
  font-weight: 600;
}
/* PROJECT SECTION */

.project_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  color: var(--primary-text);
  transition: background-color 0.3s ease;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.project svg {
  color: var(--primary-text);
  transition: background-color 0.3s ease;
}

.project div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project div h4 {
  font-weight: 600;
}

.project:hover {
  background-color: var(--accent-light);
  transition: background-color 0.3s ease;
}

.project:hover svg {
  color: var(--primary-accent);
  transition: background-color 0.3s ease;
}

/* WORK SECTION */
.row {
  display: flex;
  width: 100%;
  gap: 32px;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 660px) {
  .container {
    min-width: 100%;
    margin: 0 16px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
