.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 32px;
  overflow-y: scroll;
  background-color: #fdfdfd;
}

.position_header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  color: var(--primary-text);
}

.position_header h1 {
  font-size: 72px;
  color: var(--primary-text);
}

.position_header h4 {
  font-size: 32px;
  color: var(--primary-accent);
}

.absolute_container {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: auto;
}

.square {
  height: 60px;
  width: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-right: 1px solid var(--grid-border);
  border-top: 1px solid var(--grid-border);
}

.cell {
  opacity: 0;
  transition: opacity 0.7s linear;
}

.cell:hover {
  opacity: 1;
  transition: opacity 0.05s linear;
}

.crosshair {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.crosshair svg {
  transform: rotate(45deg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.container {
  max-width: 860px;
  height: 254px;
  margin: 0 auto;
  padding: 0 16px;
}

/* TITLE SECTION */

.title_section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

/* WORK SECTION */
.row {
  display: flex;
  width: 100%;
  gap: 32px;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 900px) {
  .container {
    min-width: 100%;
    margin: 0 16px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
