.dock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ffffff;
  border: 1px solid #efefef;
  gap: 12px;
  border-radius: 16px;
  height: 64px;
  padding: 12px;
  bottom: 8px;
  width: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%) translateY(32px);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grid-border);
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.link svg {
  height: 18px;
  width: 18px;
  color: var(--secondary-text);
}

.TooltipContent {
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 1;
  color: var(--violet-11);
  background-color: white;
  border: 1px solid var(--grid-border);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: white;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
