.dock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--footer-background);
  border: 1px solid var(--grid-border);
  gap: 12px;
  border-radius: var(--border-radius);
  height: 56px;
  padding: 8px;
  bottom: 8px;
  width: auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%) translateY(28px);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--link-background);
  height: 40px;
  width: 40px;
  border-radius: calc(var(--border-radius) - 8px);
}

/* .link::before {
  background-color: #ffffff;
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: -2;
}

.link::after {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  filter: blur(4px);
}

.link::after {
  background: var(--primary-glow);
  z-index: -1;
} */

.button {
  border: none;
}

.button:hover {
  cursor: pointer;
}

.link svg {
  height: 18px;
  width: 18px;
  color: var(--secondary-text);
}

.divider {
  height: 100%;
  width: 2px;
  background-color: var(--grid-border);
  border-radius: 100%;
}

.TooltipContent {
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 12px;
  line-height: 1;
  color: var(--secondary-text);
  background-color: var(--footer-background);
  border: 1px solid var(--grid-border);
  box-shadow: var(--tooltip-shadow);
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
  animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
  animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: var(--tooltip-arrow-fill);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
