.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100vw;
  padding: 24px;
  overflow: scroll;
  background-color: var(--gray-1);
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 325px;
  padding: 8px;
  background-color: var(--gray-12);
  border-radius: 48px;
}

[data-theme="dark"] .phone {
  background-color: var(--gray-12);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: var(--gray-2);
  border-radius: 40px;
  overflow: scroll;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 16px;
}

.header h3 {
  font-size: 28px;
}

.header p {
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-12);
  position: absolute;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background-color: var(--gray-12);
  border-radius: 50%;
  color: var(--gray-1);
  line-height: 100%;
}

.buttonOutline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  color: var(--gray-1);
  border: 2px solid var(--gray-1);
  border-radius: 50%;
  background-color: var(--gray-12);
  line-height: 100%;
  font-size: 12px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.cards {
  width: 100%;
}

.card {
  height: 175px;
  width: 100%;
  padding: 16px;
  background-color: #d9d9d9;
  border-radius: 16px;
  position: absolute;
  background-size: cover;
  overflow: hidden;
}

.card:nth-child(1) {
  background-image: url("/silver.jpeg");
}

.card:nth-child(2) {
  background-image: url("/gold.jpeg");
}

.card:nth-child(3) {
  background-image: url("/blue.jpeg");
}
